body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(117, 117, 255);
}

a {
    text-decoration: none;
}

.box {
    font-size: 20px;
    color: aliceblue;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(86, 86, 248);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 30px;
    width: 50px;
    background-color: none;
    border-radius: 5px;
    color: rgb(1, 1, 159);
    font-weight: 600px;
}